body {
    background-color: violet;
    color: blue;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:  block;
}